@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --primary-color : rgb(224, 10, 224);
}

body{
    font-family: 'Montserrat', sans-serif;
}

/** container **/

.container{
        padding-left: 1rem;
        padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}


/** links **/

.link{
    text-decoration: none;
    padding: o.5rem 1rem;
}

.primary-link{
    background-color : var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link{
    background-color : var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
